<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{layouts/root :: head (title=~{::title/text()})}">
    <title>Job Listing</title>
  </head>
  <body th:replace="~{layouts/root :: body(content=~{::#content-root})}">
    <div
      id="content-root"
      class="flex flex-col gap-4 container"
      th:with="currentURL=@{/job-listings/{id}(id=${jobListing.getId()})}"
    >
      <div class="flex justify-between items-start">
        <div>
          <div class="flex gap-4">
            <h1 th:text="${jobListing.getTitle()}"></h1>
            <span class="pill is-lg self-end">
              <i class="bi bi-geo-alt-fill"></i>
              <th:block th:text="${!jobListing.getLocation().isBlank()} ? ${jobListing.getLocation()} : 'Remote'"></th:block>
            </span>
          </div>
        </div>

        <div class="flex gap-4 items-start">
          <th:block th:unless="${@jobApplicationService.loggedInUserHasAppliedForJobListing(jobListing.getId())}">
            <button
              class="button has-icon"
              data-click-action="open-drawer"
              data-target-selector="#apply-drawer"
              sec:authorize="isAuthenticated()"
            >
              <i class="bi bi-file-earmark-check-fill"></i> Apply
            </button>
            <a
              class="button has-icon is-primary-50"
              th:href="@{/account/sign-in(redirectURL=${currentURL})}"
              sec:authorize="!isAuthenticated()"
            >
              <i class="bi bi-file-earmark-check-fill"></i> Sign in to apply
            </a>
          </th:block>

          <p class="pill is-lg is-primary-50" th:if="${@jobApplicationService.loggedInUserHasAppliedForJobListing(jobListing.getId())}">
            You have already applied for this job listing.
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <h2>Tags</h2>
          <div class="flex flex-wrap gap-2" th:if="${jobListing.getTags().size() > 0}">
            <span class="pill" th:each="tag : ${jobListing.getSortedTags()}">
              <th:block th:text="${tag}"></th:block>
            </span>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <h2>Description</h2>
          <p th:text="${jobListing.getDescription()}"></p>
        </div>
      </div>

      <form
        id="apply-drawer"
        method="post"
        class="drawer"
        data-click-action="close-drawer"
        enctype="multipart/form-data"
        th:object="${jobApplicationRequest}"
        th:action="@{/job-listings/{id}/apply(id=${jobListing.getId()})}"
        th:classappend="${#fields.hasErrors()} ? 'is-visible is-open'"
      >
        <div class="drawer-content">
          <div class="flex flex-col gap-10">
            <h2>Apply</h2>

            <div class="notification is-danger" th:if="${#fields.globalErrors().size() > 0}">
              <ul>
                <li th:each="error : ${#fields.globalErrors()}" th:text="${error}"></li>
              </ul>
            </div>

            <div class="flex flex-col gap-4">
              <div class="input-container">
                <label for="apply-cover-letter" class="label">Cover Letter</label>
                <textarea
                  id="apply-cover-letter"
                  class="input is-lg"
                  name="coverLetter"
                  placeholder="I'd like to apply for the position of..."
                  th:text="*{coverLetter}"
                ></textarea>
              </div>

              <div class="input-container">
                <label for="apply-cv" class="label">CV</label>
                <input type="file" id="apply-cv" class="input" name="cv" accept="application/pdf" />
                <p th:if="${#fields.hasErrors('cv')}" th:text="${#fields.errors('cv').getFirst()}" class="input-helper-text is-danger"></p>
              </div>

              <button type="submit" class="button">Apply</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
