<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layouts/root :: head (title=~{::title/text()})}">
    <title>Job Search</title>
  </head>
  <body th:replace="~{layouts/root :: body(content=~{::#content-root})}">
    <div id="content-root" class="flex-1 flex flex-col gap-20 container">
      <div>
        <h1>Job Search</h1>
        <p class="subtitle">Browse active job listings.</p>
      </div>

      <div class="flex gap-8">
        <aside>
          <form method="get" class="flex flex-col gap-2" th:action="@{/job-listings}">
            <div class="flex items-end gap-4">
              <div class="input-container">
                <label for="search-filter" class="label">Search</label>
                <input id="search-filter" type="search" name="search" class="input" placeholder="Java" th:value="${param.search}" />
              </div>

              <button type="submit" class="shrink-0 button is-1/1 is-lg">
                <i class="bi bi-search"></i>
              </button>
            </div>

            <div class="input-container">
              <label for="location-input">Location</label>
              <select id="location-input" class="input" name="location">
                <option value="">
                  All
                  <th:block
                    th:text="' (' + ${filters.getAllLocationsCount()} + ')'"
                  >
                  </th:block>
                </option>
                <option
                  th:each="location : ${filters.getLocationsWithCount()}"
                  th:selected="${#strings.equals(#strings.equals(location.getLocation(), '') ? 'remote' : location.getLocation(), param.location)}"
                  th:value="${location.getLocation().isBlank()} ? 'remote' : ${location.getLocation()}"
                  th:text="${(location.getLocation().isBlank() ? 'Remote' : location.getLocation()) + ' (' + location.getCount() + ')'}"
                >
                </option>
              </select>
            </div>

            <div class="input-container">
              <label for="min-experience-input">Minimum Years of Experience</label>
              <input
                id="min-experience-input"
                type="number"
                name="minYearsOfExperience"
                class="input"
                min="0"
                placeholder="0"
                th:value="${param.minYearsOfExperience}"
              />
            </div>

            <fieldset th:unless="${filters.getTagsWithCount() == null || filters.getTagsWithCount().isEmpty()}">
              <legend class="label">Tags</legend>

              <div class="flex flex-col gap-2 mt-2">
                <div
                  class="input-container is-selectable"
                  th:each="tag : ${filters.getTagsWithCount()}"
                >
                  <input
                    type="checkbox"
                    name="tags"
                    class="input"
                    th:id="'tag-' + ${tag.getNormalizedName()}"
                    th:checked="${activeTagsSet.contains(tag.getNormalizedName())}"
                    th:value="${tag.getNormalizedName()}"
                  />
                  <label
                    th:for="'tag-' + ${tag.getNormalizedName()}"
                    th:text="${tag.getDisplayName() + ' (' + tag.getCount() + ')'}"
                  >
                  </label>
                </div>
              </div>
            </fieldset>
          </form>
        </aside>

        <main class="flex-1 flex flex-col gap-4">
          <div class="flex flex-col gap-4 card" th:each="jobListing : ${page}">
            <div class="flex justify-between">
              <div class="text-lg">
                <th:block th:text="${jobListing.getTitle()}"></th:block>
                by
                <th:block th:text="${jobListing.getOrganizationName()}"></th:block>
              </div>
              <div class="pill is-primary-50 is-lg">
                <i class="bi bi-geo-alt-fill"></i>

                <th:block th:text="${!jobListing.getLocation().isBlank()} ? ${jobListing.getLocation()} : 'Remote'"></th:block>
              </div>
            </div>

            <div class="flex-1" th:text="${#strings.abbreviate(jobListing.getDescription(), 250)}"></div>

            <div class="flex items-end gap-4">
              <div class="flex-1 flex flex-wrap gap-2">
                <span class="pill" th:each="tag : ${jobListing.getSortedTags()}">
                  <th:block th:text="${tag}"></th:block>
                </span>
              </div>

              <a
                class="button has-icon is-sm"
                th:href="@{/job-listings/{id}(id=${jobListing.getId()})}"
              >
                Read more
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </main>
      </div>

      <th:block
        th:replace="~{fragment/pagination :: pagination (
          totalPages=${page.getTotalPages()},
          url=@{/job-listings(
              search=${param.search},
              tags=${param.tags},
              location=${param.location},
              minYearsOfExperience=${param.minYearsOfExperience}
            )}
        )}"
      >
      </th:block>
    </div>
  </body>
</html>
