<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{layouts/root :: head (title=~{::title/text()})}">
      <title>Users</title>
    </head>
    <body th:replace="~{layouts/root :: body (content=~{::main}, scripts=~{::script})}">
      <main
        class="flex flex-col gap-16 flex-1 container"
        th:with="Role=${T(com.github.vasilangelov.hire4j.model.Role)}">
        <div class="flex justify-between items-start">
          <div>
            <h1>Users</h1>
            <p class="subtitle">See and interact with all the users.</p>
          </div>

          <a class="button has-icon" th:href="@{/admin/create-admin}" th:if="${@thymeleafService.isInRole(Role.SUPER_ADMIN)}">
            <i class="bi bi-person-fill-add"></i> Create Admin
          </a>
        </div>

        <div class="flex flex-col gap-4">
          <div class="flex justify-between gap-4 items-end">
            <form class="input-container w-fit" method="get" th:href="@{/admin/users}">
              <label for="email-search" class="label">Email</label>
              <input id="email-search" type="search" name="email" class="input" th:value="${param.email}" />
            </form>

            <a class="button is-danger has-icon" th:if="${!#strings.isEmpty(param.email)}" th:href="@{/admin/users}">
              <i class="bi bi-funnel-fill"></i> Clear Filters
            </a>
          </div>

          <div class="overflow-auto">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 15%">Name</th>
                  <th style="width: 30%">Email</th>
                  <th style="width: 25%">Role</th>
                  <th style="width: 30%" th:if="${@thymeleafService.isInRole(Role.SUPER_ADMIN)}">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}">
                  <td th:text="${user.getFullName()}"></td>
                  <td th:text="${user.getEmail()}"></td>
                  <td th:text="${user.getNormalizedRoleName()}"></td>
                  <td th:if="${@thymeleafService.isInRole(Role.SUPER_ADMIN)}">
                    <div class="flex gap-2 justify-end items-center">
                      <button
                        th:if="${!user.getRoleName().equals(Role.SUPER_ADMIN)}"
                        class="button is-1/1 is-danger"
                        data-click-action="open-dialog"
                        data-target-selector="#delete-user"
                        th:data-user-email="${user.getEmail()}">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <th:block th:replace="~{fragment/pagination :: pagination (totalPages=${users.getTotalPages()},url=@{/admin/users(email=${param.email})})}"></th:block>

        <div id="delete-user" class="dialog">
          <div role="dialog" aria-labelledby="delete-user-title" aria-describedby="delete-user-description" class="dialog-content">
            <h1 id="delete-user-title" class="dialog-title">Confirm delete</h1>
            <p id="delete-user-description" class="dialog-description">Are you sure you want to delete this user?</p>

            <form class="dialog-footer" th:action="@{/admin/delete-user}" method="post">
              <input id="delete-user-email-input" name="email" type="hidden" />
              <button class="button is-primary-50" data-action="close-dialog" type="button">Cancel</button>
              <button class="button is-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </main>

      <script>
        const emailInput = document.getElementById("delete-user-email-input");

        document
          .querySelectorAll("[data-target-selector=\"#delete-user\"]")
          .forEach((button) => {
            button.addEventListener("click", () => {
              emailInput.value = button.dataset.userEmail;
            });
          });
      </script>
    </body>
</html>
