<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layouts/root :: head (title=~{::title/text()})}">
    <title>Job Listing</title>
  </head>
  <body th:replace="~{layouts/root :: body(content=~{::#content-root},scripts=~{::script})}">
    <div id="content-root" class="flex flex-col gap-4 container">
      <div class="flex justify-between items-start">
        <div>
          <div class="flex gap-4">
            <h1 th:text="${jobListing.getTitle()}"></h1>
            <span class="pill is-lg self-end">
              <i class="bi bi-geo-alt-fill"></i>
              <th:block th:text="${!jobListing.getLocation().isBlank()} ? ${jobListing.getLocation()} : 'Remote'"></th:block>
            </span>
          </div>
          <p class="subtitle">Job listing details</p>
        </div>

        <div class="flex gap-4 items-start">
          <button class="button has-icon" data-click-action="open-drawer" data-target-selector="#edit-job-listing-drawer">
            <i class="bi bi-pencil-fill"></i> Edit
          </button>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="flex flex-wrap gap-2" th:if="${jobListing.getTags().size() > 0}">
          <span class="pill" th:each="tag : ${jobListing.getSortedTags()}">
            <th:block th:text="${tag}"></th:block>
          </span>
        </div>

        <p th:text="${jobListing.getDescription()}"></p>
      </div>

      <section class="flex flex-col gap-4">
        <h2>Applications</h2>

        <table class="table">
          <thead>
          <tr>
            <th style="width: 25%">Name</th>
            <th style="width: 25%">Email</th>
            <th style="width: 25%">Status</th>
            <th style="width: 25%">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="jobApplication : ${jobListing.getSortedApplications()}">
            <td th:text="${jobApplication.getUserFullName()}"></td>
            <td th:text="${jobApplication.getUserEmail()}"></td>
            <td th:text="${jobApplication.getNormalizedStatus()}"></td>
            <td>
              <div class="flex gap-2 justify-end items-center">
                <button
                  class="button is-1/1 is-primary"
                  data-click-action="open-dialog"
                  data-target-selector="#view-application-details"
                  th:unless="${jobApplication.getCoverLetter().isBlank()}"
                  th:data-application-details="${jobApplication.getCoverLetter()}"
                >
                  <i class="bi bi-eye-fill"></i>
                </button>

                <a
                  class="button is-1/1 is-primary"
                  target="_blank"
                  th:href="@{/organization/{organizationId}/application/{applicationId}/cv(organizationId=${jobListing.getOrganizationId()},applicationId=${jobApplication.getId()})}"
                >
                  <i class="bi bi-file-earmark-arrow-down-fill"></i>
                </a>

                <a
                  class="button is-1/1 is-success"
                  th:href="@{/organization/{organizationId}/job-listing/{jobListingId}/application/{applicationId}/accept(organizationId=${jobListing.getOrganizationId()},jobListingId=${jobListing.getId()},applicationId=${jobApplication.getId()})}"
                  th:if="${jobApplication.getStatus() != T(com.github.vasilangelov.hire4j.model.JobApplicationStatus).ACCEPTED}"
                >
                  <i class="bi bi-check-lg"></i>
                </a>

                <a
                  class="button is-1/1 is-danger"
                  th:href="@{/organization/{organizationId}/job-listing/{jobListingId}/application/{applicationId}/reject(organizationId=${jobListing.getOrganizationId()},jobListingId=${jobListing.getId()},applicationId=${jobApplication.getId()})}"
                  th:if="${jobApplication.getStatus() != T(com.github.vasilangelov.hire4j.model.JobApplicationStatus).REJECTED}"
                >
                  <i class="bi bi-x-lg"></i>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </section>

      <form
        id="edit-job-listing-drawer"
        method="post"
        class="drawer"
        data-click-action="close-drawer"
        th:object="${editJobListingRequest}"
        th:action="@{/organization/{organizationId}/job-listing/{jobListingId}/edit(organizationId=${jobListing.getOrganizationId()},jobListingId=${jobListing.getId()})}"
        th:classappend="${#fields.hasErrors()} ? 'is-visible is-open'"
      >
        <div class="drawer-content">
          <div class="flex flex-col gap-10">
            <h2>Edit job listing</h2>

            <div class="flex flex-col gap-4">
              <div class="input-container">
                <label class="label" for="add-job-listing-title">Title</label>
                <input id="add-job-listing-title" name="title" class="input" type="text" placeholder="Mid Java Developer" th:value="*{title}" />
                <p th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title').getFirst()}" class="input-helper-text is-danger"></p>
              </div>

              <div class="flex gap-4">
                <div class="input-container w-2/3">
                  <label class="label" for="add-job-listing-location">Location <span class="text-primary-50-contrast">(leave blank for remote)</span></label>
                  <input id="add-job-listing-location" name="location" class="input" type="text" placeholder="Veliko Tarnovo" th:value="*{location}" />
                  <p th:if="${#fields.hasErrors('location')}" th:text="${#fields.errors('location').getFirst()}" class="input-helper-text is-danger"></p>
                </div>

                <div class="input-container w-1/3">
                  <label class="label" for="add-job-listing-experience">Years of experience</label>
                  <input id="add-job-listing-experience" name="minYearsOfExperience" class="input" type="number" min="0" placeholder="0" th:value="*{minYearsOfExperience != 0} ? *{minYearsOfExperience}" />
                  <p th:if="${#fields.hasErrors('minYearsOfExperience')}" th:text="${#fields.errors('minYearsOfExperience').getFirst()}" class="input-helper-text is-danger"></p>
                </div>
              </div>

              <div class="input-container">
                <label class="label" for="add-job-listing-description">Description</label>
                <textarea id="add-job-listing-description" name="description" class="input is-lg" placeholder="An aspiring organization" th:text="*{description}"></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:text="${#fields.errors('description').getFirst()}" class="input-helper-text is-danger"></p>
              </div>

              <div class="input-container">
                <label class="label" for="add-job-listing-tags">Tags <span class="text-primary-50-contrast">(press space to add)</span></label>
                <input id="add-job-listing-tags" type="text" class="input" placeholder="Java" data-pill-list-target-selector="#add-job-listing-tags-list" data-pill-list-input-name="tags" />
                <div id="add-job-listing-tags-list" class="flex flex-wrap gap-2">
                  <div class="pill" th:each="tag : *{tags}">
                    <input type="hidden" name="tags" th:value="${tag}" />
                    <th:block th:text="${tag}"></th:block>
                    <button type="button" class="pill-remove-button">
                      <i class="bi bi-x"></i>
                    </button>
                  </div>
                </div>
                <p th:if="${#fields.hasErrors('tags')}" th:text="${#fields.errors('tags').getFirst()}" class="input-helper-text is-danger"></p>
              </div>

              <button type="submit" class="button">Edit</button>
            </div>
          </div>
        </div>
      </form>

      <div id="view-application-details" class="dialog">
        <div role="dialog" aria-labelledby="view-application-details-title" aria-describedby="view-application-details-description" class="dialog-content">
          <h1 id="view-application-details-title" class="dialog-title">Application details</h1>

          <div class="flex flex-col gap-2">
            <h2 class="text-lg">Cover Letter</h2>
            <p id="view-application-details-description" class="dialog-description"></p>
          </div>

          <button
            class="button is-danger"
            data-action="close-dialog"
          >
            Close
          </button>
        </div>
      </div>

    </div>

    <script>
      const applicationDetailsDescription = document.getElementById('view-application-details-description');

      document.querySelectorAll('[data-target-selector="#view-application-details"]').forEach((button) => {
        button.addEventListener('click', () => {
          applicationDetailsDescription.textContent = button.dataset.applicationDetails;
        });
      });
    </script>
  </body>
</html>
