<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <nav
      class="mt-auto mb-20"
      th:fragment="pagination (totalPages, url)"
      th:with="
      Math=${T(java.lang.Math)},
      currentPageString=${param.page != null ? param.page : '1'},
      currentPage=${T(java.lang.Integer).parseInt(currentPageString)},
      pageOffset=${2}">
      <ol class="flex justify-center gap-4 p-0 list-none">
        <li class="inline-flex" th:if="${currentPage > pageOffset + 1}">
          <a class="button is-1/1 is-primary-50" th:href="@{${url}(page=1)}">1</a>
        </li>

        <li class="inline-flex" th:if="${currentPage > pageOffset + 2}">
          <span class="button is-1/1 is-ghost cursor-default">...</span>
        </li>

        <li
          class="inline-flex"
          th:each="page : ${#numbers.sequence(Math.max(currentPage - pageOffset, 1), Math.min(currentPage + pageOffset, Math.max(totalPages, 1)))}">
          <a
            class="button is-1/1"
            th:classappend="${page != currentPage} ? 'is-primary-50'"
            th:href="@{${url}(page=${page})}"
            th:text="${page}"></a>
        </li>

        <li class="inline-flex" th:if="${currentPage + pageOffset + 1 < totalPages}">
          <span class="button is-1/1 is-ghost cursor-default">...</span>
        </li>

        <li class="inline-flex" th:if="${currentPage + pageOffset < totalPages}">
          <a class="button is-1/1 is-primary-50" th:href="@{${url}(page=${totalPages})}" th:text="${totalPages}"></a>
        </li>
      </ol>
    </nav>
  </body>
</html>
