<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layouts/root :: head (title=~{::title/text()})}">
    <title></title>
  </head>
  <body th:replace="~{layouts/root :: body (content=~{::#main-content})}">
    <div id="main-content" class="flex flex-col gap-4 container">
      <div>
        <h1>My Applications</h1>
        <p class="subtitle">Track applications status.</p>
      </div>

      <p th:if="${jobApplications.size() == 0}" class="text-center">
        There are currently <strong>no applications</strong>.
        <a class="link" th:href="@{/job-listings}">
          Search and apply for a job.
        </a>
      </p>

      <table
        class="table"
        th:if="${jobApplications.size() > 0}"
      >
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="jobApplication : ${jobApplications}">
            <td th:text="${jobApplication.getJobListingTitle()}"></td>
            <td th:text="${jobApplication.getJobListingOrganizationName()}"></td>
            <td th:text="${jobApplication.getStatus().name()}"></td>
          </tr>
      </table>
    </div>
  </body>
</html>
