<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layouts/root :: head (~{::title/text()})}">
    <title>Sign In</title>
  </head>
  <body th:replace="~{layouts/root :: body (~{::main})}">
    <main
      class="is-flex-grow-1 is-display-flex is-flex-direction-column is-justify-content-center is-row-gap-4 container"
      style="max-width: 600px"
    >
      <h1 class="has-text-centered is-size-2">Sign In</h1>

      <p class="has-text-centered has-text-danger is-size-5" th:if="${param.logout}">You have been signed out.</p>

      <form
        class="box is-flex is-flex-direction-column is-row-gap-8"
        method="post"
        th:action="@{/account/sign-in}"
      >
        <div>
          <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
              <input
                id="email"
                name="username"
                class="input"
                type="email"
                placeholder="johndoe@example.com"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input
                id="password"
                name="password"
                class="input"
                type="password"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
              />
            </div>
            <p
              th:if="${param.error}"
              class="has-text-danger"
            >Invalid username or password.</p>
          </div>
        </div>

        <div class="field">
          <button type="submit" class="button is-primary is-fullwidth">
            Sign In
          </button>
        </div>
      </form>

      <p class="has-text-centered">
        Don't have an account?
        <a th:href="@{/account/sign-up}">Sign Up</a> instead.
      </p>
    </main>
  </body>
</html>
